.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
  }